<div class="cocktail-item">
  @defer ( on viewport ) {
    <div class="cocktail-item__image">
        <img [src]="cocktail().imageUrl" [alt]="cocktail().name">
    </div>
  } @placeholder {
    <span>here will be image</span>
  }
  <div class="cocktail-item__description">
    <div class="cocktail-item__header">
      <h3 (click)="selectedCocktail(cocktail().id)">{{ cocktail().name}}</h3>
      <span class="icon-star" (click)="changeFavoriteState(cocktail().id)"></span>
    </div>

    @if (cocktail().isAlcoholic) {
      <span class="cocktail-item__description__alcohol">Alcoholic</span>
    } @else {
      <span class="cocktail-item__description__without">Non-alcoholic</span>
    }
    @for (ingredient of cocktail().ingredients | replace; track $index ) {
      {{ ingredient | titlecase }}
    }
  </div>
</div>
